
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

header {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 25px;
}

.menu {

}

.white-box {
    text-align: center
}

.server {
    height: 140px;
    padding: 0px;
    margin: 10px 0% 10px 5em;
}

.server-container {

}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    margin: 4px;
}

.subtitle {
    text-align: center;
    font-size: 13px;
    padding: 4px;
    margin: 4px;
}

.scroll {
    display: none;
}

.blue-box {
    text-align: center;
    background-color: #00c2ff;
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 6%;
}

.blue-box li {
    color: white;
}

.sketch {
    height: 70px;
    padding: 10px;
}

.grey-box {
    text-align: center
}

ul {
    list-style-type: none;
    padding: 0px;
}