
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
}
header {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
header nav .links {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(36,41,44);
    z-index: 1;
}
header nav .menu:hover {
    cursor: pointer;
}
header nav .links div:hover {
    background-color: rgb(56, 63, 66);
}
header nav .links div a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
}
header nav .links .exit {
    text-align: right;
    padding: 1.1em;
}
header nav .links .exit:hover {
    cursor: pointer;
}
header .logo {
    height: 25px;
}
.main {
    display: flex;
    flex-flow: column nowrap;
}
.title {
    text-align: center;
    margin: 10px 0px 5px 0px;
}
.title .img {
    height: 140px;
    padding: 0px;
    margin: 10px 0% 30px 5em;
}
.title h3 {
    padding: 4px;
    margin: 4px;
}
.title p {
    padding: 4px;
    margin: 4px 0px 5em 0px;
    font-size: 13px;
    font-weight: normal;
}
.blue-box {
    text-align: center;
    background-color: #00c2ff;
    margin: 0;
    padding: 10px 10px 3em 10px;
    display: flex;
    flex-direction: column;
}
.blue-box .item {
    color: white;
    font-size: 12px;
    padding: 2em;
}
.blue-box .item img {
    height: 70px;
    padding: 10px;
}
.grey-box {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3.5em 1em 1.5em 1em;
}
.grey-box .item {
    display: flex;
    flex-direction: column;
}
.grey-box .item .portrait {
    height: 100px;
    width: 100px;
    padding: 10px;
    align-self: center;
}
.grey-box .item p {
    width: 80vw;
    align-self: center;
}
.grey-box .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3em 0 5em 0;
}
.cta .message {
    font-size: 20px;
    font-weight: bold;
}
.cta .button {
    align-self: center;
    display: inline-block;
    line-height: 2em;
    background-color: green;
    border-radius: 30px;
    width: 15em;
    height: 2em;
    text-decoration: none;
    padding: 0.4em 2em 0.4em 2em;
    color: white;
}
footer {
    background-color: black;
    color: grey;
    display: flex;
    flex-direction: column;
    padding: 0 1em 0.5em 1em;
}
footer .logo-address {
    text-align: center;
    width: 20em;
    align-self: center;
}
footer .logo {
    padding: 30px;
    width: auto;
    height: 2em;
}
footer .address {
    padding: 0 0 2em 0;
}
footer .tsa-priv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hide {
    display: none;
}
@media (min-width: 700px) {
    header nav img {
        display: none;
    }
    header nav .links {
        display: flex;
        flex-flow: row nowrap;
        position: static;
        background-color: white;
    }
    header nav .links div {
        padding: 0 10px;
    }
    header nav .links .exit {
        display: none;
    }
    header nav .links div a {
        text-decoration: none;
        color: black;
    }
    header nav .links div:hover {
        background-color: white;
    }
    .blue-box {
        flex-direction: row;
        padding: 2em 1em;
    }
    .grey-box {
        flex-direction: row;
        justify-content: space-around;
        padding: 4em 1em;
    }
    .grey-box .item {
        flex-direction: row;
    }
    .grey-box .item p {
        width: 30vw;
    }
    .grey-box .text {
        text-align: left;
        padding-left: 1em;
    }
    .cta {
        flex-direction: row;
    }
    .cta .message {
        margin: 2em;
    }
    .cta .button {
        margin: 2em;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4vw;
    }
    footer .logo-address {
        text-align: left;
    }
    footer .tsa-priv {
        width: 20em;
        align-items: center;
        justify-content: space-around;
    }

}